// Place all the styles related to the Public controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// @import "bootstrap-sprockets";
// @import "bootstrap";
// body {
//     text-align: center !important;
// }

.navbar {
    padding: 14px 16px !important;
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd;
}